.env
node_modules/
*.csv
*.log
.DS_Store
dist/
build/
coverage/
.vscode/
.idea/
*.iml
*.swp
*.swo
*.bak
*.tmp
*.old
*.orig
*.rej
*.class
*.jar
*.war
*.ear
*.pyc
__pycache__/
*.pyo
*.pyd
*.so
*.exe
*.dll
*.lib
*.obj
*.obj/
*.out